#ENV

#NODE_PORT
PORT=3000

#LOCAL_DB_CONFIG
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=root
DB_DATABASE=stock_limiter

#SWAGGER_DOC
SWAGGER_PATH=api

#THROTTLER
THROTTLE_TTL=60
THROTTLE_LIMIT_FREE=5
THROTTLE_LIMIT_PREMIUM=100
